<div class="container pt-2">
    <div class="card">
        <div class="card-header">Список оказанных услуг</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Наименование услуги</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tp-tasks-tr" *ngFor="let deal of deals">
                        <td class="tp-tasks-td">{{deal.created | date: 'short'}}</td>
                        <td class="tp-tasks-td"><a [routerLink]="['/deal', deal.id]">{{deal.id}}</a></td>
                        <td class="tp-tasks-td">{{deal.subject.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
