<div class="container">
    <div class="card">
        <div class="card-header">Список оказанных услуг</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Наименование услуги</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/deal">1</a></td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
