<div class="container pt-2">
    <div class="card">
        <div class="card-header">Информация об услуге</div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>ФИО</td>
                        <td>{{this.deal.fio}}</td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td>{{this.deal.created | date: 'short'}}</td>
                    </tr>
                    <tr>
                        <td>Дата оказания</td>
                        <td>{{this.deal.provided | date: 'short'}}</td>
                    </tr>
                    <tr>
                        <td>Номер</td>
                        <td>{{this.deal.id}}</td>
                    </tr>
                    <tr>
                        <td>Наименование услуги</td>
                        <td>{{this.deal.subject.name}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-dark" [routerLink]="['/deals']">Вернуться к списку оказанных услуг</button>
        </div>
    </div>
</div>
