<div class="container">
    <div class="card">
        <div class="card-header">Информация об услуге</div>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">ФИО</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">Дата создания</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">Дата оказания</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">Номер</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">Наименование</th>
                    <td>Почистить ботинки</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
