.alert-success {
    background: #ecfceb;
}

.alert-danger {
    background: #ffebea;
}

.alert-info {
    background: #ebf7ff;
}

.alert-warning {
    background: #fff7e9;
}

.alert {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}
