<div class="container pt-5 w-25">
    <div class="card">
        <div class="card-header">Авторизация</div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group pb-4">
                    <label for="login">Логин</label>
                    <input type="text" class="form-control" id="login" placeholder="Логин" formControlName="login">
                    <div *ngIf="form.get('login').invalid && form.get('login').touched">
                        <span *ngIf="form.get('login').errors.required" class="validation">
                            Поле обязательное для заполнения
                        </span>
                    </div>
                </div>
                <div class="form-group pb-4">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" placeholder="Пароль" formControlName="password">
                    <div *ngIf="form.get('password').invalid && form.get('password').touched">
                        <span *ngIf="form.get('password').errors.required" class="validation">
                            Поле обязательное для заполнения
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark me-2" [disabled]="submitted">Войти</button>
                <button class="btn btn-light" [routerLink]="['/registration']">Регистрация</button>
            </form>
        </div>
    </div>
</div>
